
flyer-builder {
  /*position: relative;*/
  /*height: 100%;*/
}


.flyer-builder iframe,
.flyer-builder .no_iframe {
  width: 100%;
  height: 600px;
  border: 1px solid #666;
  background-color: #ddd;
}

.flyer-builder .no_iframe > div {
  /*width: 80%;*/
  /*position: absolute;*/
  /*top: 50%;*/
  /*left: 50%;*/
  /*-webkit-transform: translate(-50%, -50%);*/
          transform: translate(-50%, -50%);
  /*font-weight: normal;*/
}

@media all and (min-width: 768px) {
  .flyer-builder .btn.btn-block {
    /*display: inline;*/
    /*width: auto;*/
  }
}
